<mat-card class="flex-container" class="mat-typography">
  <div fxLayout="column" class="hole">
    <!--buttons and hole-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-fab  (click)="decrementHole()"><i class="material-icons mat-36" >remove</i></button>
      <button mat-button (click)="this.router.navigate(['holedesc']);">
        <h1 class="holeButton" >Hole</h1>
        <h1>{{getCurrentHole()}}</h1>
      </button>
      <button mat-fab (click)="incrementHole()"><i class="material-icons mat-36" >add</i></button>
    </div>
  </div>
</mat-card>
