<mat-card >
  <app-heading headingTitle='Games Maint'></app-heading>

  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <button
      mat-raised-button
      color="warn"
      (click)="onResetScores()">
      Reset Current Game Scores
    </button>
    <button
    mat-raised-button
    color="warn"
    (click)="onNewGame()">
    New Game
  </button>
  <button
  mat-raised-button
  color="warn"
  (click)="onLoadSaveGames()">
  Load Saved Games
</button>
  </div>
</mat-card>
