<mat-toolbar color="primary">
  <h2>Score Card</h2>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>border_color</mat-icon>
      <span>Score Card</span>
    </button>
    <button mat-menu-item routerLink="leaderboard">
      <mat-icon>border_color</mat-icon>
      <span>Leader Board</span>
    </button>
    <button mat-menu-item routerLink="playermaint">
      <mat-icon>perm_identity</mat-icon>
      <span>Player Maintenance</span>
    </button>
    <button mat-menu-item routerLink="coursemaint">
      <mat-icon>golf_course</mat-icon>
      <span>Course Maintenance</span>
    </button>
    <button mat-menu-item routerLink="gamemaint">
      <mat-icon>redo</mat-icon>
      <span>Game Maintenance</span>
    </button>
    <button *ngIf="this.authServ.isAuth()"
      mat-menu-item routerLink="savedgames">
      <mat-icon>redo</mat-icon>
      <span>Display Saved Games</span>
    </button>
    <button *ngIf="!this.authServ.isAuth()"
      mat-menu-item routerLink="signup">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
    <button *ngIf="!this.authServ.isAuth()"
      mat-menu-item routerLink="login">
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="this.authServ.isAuth()"
      mat-menu-item routerLink="logout">
      <mat-icon>not_interested</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
