<mat-card fxLayout="column"  class="flex-container" >
  <div class="playerComponent" fxLayout="row"  fxLayoutAlign="space-between center" >
    <button mat-fab  (click)="onPrevPlayer()"><i class="material-icons mat-36">arrow_back</i></button>
    <button mat-button (click)="playerClicked()" >
      <h2 class="playerButton">Player</h2>
      <h1 class="playerName"> {{currentPlayer?.name}} </h1>
    </button>
    <button mat-fab (click)="onNextPlayer()"><i class="material-icons mat-36">arrow_forward</i></button>
  </div>
</mat-card>
