<mat-card fxLayout="column" class="mat-typography">
  <app-heading headingTitle='Course Maint'></app-heading>

  <section class="courseCard" fxLayoutAlign="center center">
    <form #form="ngForm" >
      <mat-form-field color="primary">
        <input
          type="text"
          id="courseName"
          name="courseName"
          maxlength="25"
          [(ngModel)]="courseName"
          #courseInput
          matInput
          placeholder="Course Name">
      </mat-form-field>
      <br>
    </form>
  </section>
</mat-card>
