.courseMaint {
  width: 100%
}

.par-radio-button {
  margin: 15px;
}

.mat-radio-group {
  font-size: 1.2em;
}

.mat-card {
  height: 100%;
}

input {
  font-size: 1.25em;
}

.courseName {
  width: 100%;
}

