<section
  fxLayout="column"
  fxLayoutAlign="center"
  class="mat-typography">

  <app-pick-hole
    [currentHole]="currentHole"
    (holeChanged)="updateCurrentHole($event)">
  </app-pick-hole>

  <app-pick-player
    [currentPlayer]="currentPlayer"
    (prevPlayer)="prevPlayer()"
    (nextPlayer)="nextPlayer()">
  </app-pick-player>

  <app-enter-score
    [currentPlayer]="currentPlayer"
    [currentHole]="currentHole"
    [currentScore]="currentScore"
    (incScore)="incrementScore()"
    (decScore)="decrementScore()">
  </app-enter-score>

  <app-total-score
    [totScore]="currentTotScore"
    fxFlexOffset="30px">
  </app-total-score>

  <div fxLayout fxLayoutAlign="center">
    <button
      class="saveButton"
      *ngIf="this.auth.isAuth()"
      mat-raised-button
      [disabled]="!gs.getScoreCardDirty() && auth.isAuth()"
      color="primary"
      (click)="onSave()">
      Save
    </button>
  </div>

</section>
